.text {
    border-top: 3px solid #D10024;
    padding: 10px;
    font-weight: bold;
}

.link {
    color: var(--link);
}

.link:hover {
    color: var(--link);
    transition: font-weight 3s ease-in-out;
    font-weight: bold;
}