.header-logo {
	float: left;
}

.header-logo .logo img {
	display: block;
}

@media only screen and (max-width: 992px) {
	.header-logo {
		float: none;
		text-align: center;
	}

	.header-logo .logo {
		display: inline-block;
	}
}